<style>
[cook-timer] {
  font-size: 110%;
  color:darkgoldenrod;;
}
</style>

 
<navigation></navigation>

<div class="container" ng-if="navvm.isLoggedIn">
  <page-header content="vm.pageHeader"></page-header>
  
  <!-- Инфо про баланс -->
  <div class="divider"></div>
  <div class="section">
      <h6>Уважаемый, <big><strong>{{vm.currentUser.name}}</strong></big>, ваш баланс: {{vm.currentUser.account | currency }}</h6>
        <button class="btn waves-effect waves-light light-green" ng-click="vm.doRefill()" name="action">Пополнить</button>
        <button class="btn waves-effect waves-light light-green" ng-click="vm.doRefill(-100)" name="action">Уменьшить</button>       
  </div>

  <!-- Состояние заказа --> 
  <div class="divider"></div>
  <div class="section">
      <h5>Состояние заказа</h5>
      <span ng-if="vm.currentOrder">блюд: {{ vm.currentOrder.dishes.length }}  стоимость: {{ vm.summaOrder | currency:'full' }}</span>
      <span ng-if="!vm.currentOrder">Вы еще ничего не заказали.</span> <br />
      <button class="btn waves-effect waves-light light-green" ng-click="vm.showMenu()" >Добавить</button>
  </div>
  <div ng-if="vm.currentOrder">
    <ul class="collection with-header">
        <li class="collection-header"><h4>Ваш текущий заказ</small></h4></li>
        <li ng-repeat="dishOne in vm.currentOrder.dishes" class="collection-item">
          <div>{{dishOne.dish.title}} ({{ dishOne.dish.price | currency }} x {{ dishOne.count | unit }} = {{ dishOne.dish.price * dishOne.dish.discount * dishOne.count | currency }})
            
            <span cook-timer="dishOne.dish.ts" stateId="dishOne.dish.stateId" page="vm.pageName" stateStart="vm.states.ordered.code"></span>

            <a ng-if="dishOne.dish.stateId==vm.states.problems.code"  href="" ng-click="vm.reOrder(dishOne.dish, dishOne.count, vm.currentOrder._id)"  class="secondary-content" tooltipped data-position="bottom" data-delay="50" data-tooltip="Повторить со скидкой 5%"><i class="material-icons">replay_5</i></a>
            <a ng-if="dishOne.dish.stateId==vm.states.problems.code"  href="" ng-click="vm.deleteDishFromOrder(dishOne.dish._id, vm.currentOrder._id)" class="secondary-content" tooltipped data-position="bottom" data-delay="50" data-tooltip="Отменить заказ"><i class="material-icons">clear</i></a>
  
            <span class="secondary-content">{{ dishOne.dish.stateId | state }}</span>

          </div>
        </li>
    </ul>
  </div>

  <!-- Список блюд -->
  <div ng-if="vm.isShowListDish">
    <ul class="collection with-header">
        <li class="collection-header"><h4>Список блюд</h4></li>
        <li ng-repeat="menuItem in vm.menuList | orderBy:'title'"  class="collection-item" >
          <!-- <div> {{menuItem.title}} ({{menuItem.price}}ye.) -->
          <!-- <a href="" class="secondary-content">&nbsp;&nbsp;<i class="material-icons">send</i></a> -->

          <div> 
                <span ng-if="!vm.switch.isShowDetails($index)" ><a class="waves-effect waves-teal secondary-content" ng-click="vm.switch.toggleShowDetails($index)"><i class="material-icons">chevron_right</i></a>{{ menuItem.title }} ({{ menuItem.price | currency }}) </span>

             
                <span ng-if="vm.switch.isShowDetails($index)"><a class="waves-effect waves-teal secondary-content" href="" ng-click="vm.switch.toggleShowDetails($index)"><i class="material-icons">expand_more</i></a>{{ menuItem.title }} ({{ menuItem.price | currency }}) </span>
                    
                <a ng-if="vm.currentUser.account-menuItem.price > 0 && !vm.switch.isShowDetails($index)" href="" ng-click="vm.addDishToOrder(menuItem._id);vm.doRefill(-menuItem.price)" class="waves-effect waves-teal secondary-content"><i class="small material-icons">add_circle</i></a>

                <span ng-if="vm.currentUser.account-menuItem.price <= 0" class="secondary-content">Пополните баланс на {{ menuItem.price - vm.currentUser.account | currency }}</span>
                
              <!-- Детально по блюду -->
              <div ng-if="vm.switch.isShowDetails($index)">
                  <dish-details content="menuItem" pvm="vm"></dish-details>
              </div>

          </div>
        </li>
    </ul>
  </div>

  <footer-page></footer-page>

</div>
