<navigation></navigation>

<div class="container">

  <page-header content="vm.pageHeader"></page-header>

  <div class="row">
    <div class="col s12 m6 l4">

      <form name="loginForm" ng-submit="vm.onSubmit()" novalidate>
        <div id="form-error" ng-if="vm.formError">{{ vm.formError }}</div>

        <div input-field>
          <input type="text" class="validate" id="name" name ="name"  ng-model="vm.user.name" minlength="3" maxlength="30" ng-minlength="3" ng-maxlength="30" required>
          <label for="name" data-error="имя должно быть от 3-х до 30 символов" data-success="">You name</label>
        </div>

        <div input-field inline>
          <input type="email" class="validate" id="email" name="email" ng-model="vm.user.email"  maxlength="100" required>
          <label for="email" data-error="например: abc@mail or abc@gmail.xx" data-success="">Email</label>
        </div>
        
        <br />

        <button ng-disabled="!vm.canSave()" class="btn waves-effect waves-light light-green" type="submit" name="entry">Войти
          <i class="material-icons right">send</i>
        </button>
        

      </form>
    </div>
  </div>

  <footer-page></footer-page>

</div>
